:root {

    /*color schemes*/
    --background: #f0e8e8;
    --foreground: #f0e8e8;
    --shadow: #665a5a;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}